.input{
    text-align: center;
    height: 30px;
    border: none;
    font-size: 20px;
}
body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;

}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-content: center;
    text-align: center;
    gap: 20px;
}

.label{
    display: none;
    color: red;
}

.dropdown{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newWords{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

.createNewWordButton{
    width: 450px;
    height: 80px;
    text-align: center;
    border: none;
    margin: 0;
    background-color: lime;
    color: white;
    font-size: 20px;
}

.inputDiv{
    display: flex;
    flex-direction: column;
}
.saveBtn{
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: white;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.line{
    margin: 0;
    rotate: 90deg;
    justify-self: center;
    border: 3px solid black;
    border-radius: 1px;
}

.outputBox{
    text-align: center;
    width: 29vw;
    overflow: hidden;
    font-size: 30px;
}

@media only screen and (max-width: 400px){
    .dropdown{
        flex-direction: column;
    }

    .createNewWordButton{
        width: 200px;
        height: 100px;
        font-size: 15px;
    }
    .input{
        font-size: 15px;
    }

    .outputBox{
        font-size: 20px;
    }
    main{
        flex-direction: column;
        gap: 20px;
    }
    .line{
        display: none;
    }
}